[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
silex-client = {git = "https://github.com/ArtFXDev/silex_client.git"}

[dev-packages]

[requires]
python_version = "3.7"
